.main-content-section {
    padding: 80px 60px;
}

.main-content-title {
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: calc(27 / 22);
color: #000000;
margin-bottom: 10px;
text-transform: uppercase;
}
