
.my-education-header {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: calc(27 / 22);
    color: #000000;
}
.my-experience-university {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #fb6d3a;
}
.my-experience-faculty {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: calc(17 / 14);
color: #000000;
}

.my-education-section {
margin: 45px 0 0 0;
padding: 0 0 10px 0;
}
