<aside class="sidebar-sections">
    <img
        src="./img/alex-photo-profile.webp"
        width="370"
        alt="photos Alex Kostin"
    />

    <!-- Contacts section -->

    <div class="contacts-section">
        <h3 class="sidebar-title">Contacts</h3>
        <ul class="tech-skills-list">
            <li class="tech-skills-item">
                <a class="contacts-section-link" href="tel:+38(093)574-7779"
                    >+38 (093) 574 77 79</a
                >
            </li>
            <li class="tech-skills-item">
                <a
                    class="contacts-section-link"
                    href="mailto:alexander.kostin.ua@gmail.com"
                    >alexander.kostin.ua@gmail.com</a
                >
            </li>
            <li class="tech-skills-item">
                <a
                    class="contacts-section-link"
                    href="https://www.linkedin.com/in/avkostin-ua/"
                    >Linkedin pages</a
                >
            </li>
            <li class="tech-skills-item">
                <a
                    class="contacts-section-link"
                    href="https://github.com/AVKostin/"
                    >GitHub pages</a
                >
            </li>
        </ul>
    </div>

    <!-- tech skills section -->

    <div class="tech-skills-section">
        <h3 class="sidebar-title">Tech Skills</h3>
        <ul class="tech-skills-list">
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">PHP</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">MySQL / phpMyAdmin</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">MongoDB / Compass</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">OOP</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">MVC</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">Laravel</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">Yii</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">HTML5/ CSS3</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">CSS3 Animations</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">SCSS / SASS</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">Git & GitHub / GitLab</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">JavaScript</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">Node.js / Express</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">React.js / Redux.js</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">Figma</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">Adobe Photoshop</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">REST API</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">WebPack & Parcel</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">VS Code</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">WebStorm</span>
            </li>

        </ul>
    </div>

    <!-- Soft skills section -->

    <div class="soft-skills-section">
        <h3 class="sidebar-title">Soft Skills</h3>
        <ul class="soft-skills-list">
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">Creative</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">Positive attitude</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name"
                    >Critical thinking skills</span
                >
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name"
                    >Ability to work efficiently both individually and in a
                    team</span
                >
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">Sales Ability</span>
            </li>
        </ul>
    </div>

    <!-- Language skills section -->

    <div class="lang-skills-section">
        <h3 class="sidebar-title">Language Skills</h3>
        <ul class="soft-skills-list">
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">Ukrainian - native</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name">Russian - native</span>
            </li>
            <li class="tech-skills-item">
                <span class="tech-skills-item-name"
                    >English - pre-intermediate</span
                >
            </li>
        </ul>
    </div>
</aside>
