<div class="my-education-section">
    <h3 class="my-education-header">Education</h3>
    <h4 class="my-experience-university">
        National Technology University NTU KPI
    </h4>
    <h5 class="my-experience-faculty">Internal Combustion Engine</h5>
    <p class="my-work-experience-period">
        September 1990 - March 1996
        <span class="my-work-experience-divider">|</span> Ukraine/ Kharkiv
    </p>
</div>
<div class="my-education-section">
    <h3 class="my-education-header">Additional Education</h3>
    <h4 class="my-experience-university">Independent practical learning of PHP, MySQL, Yii, Laravel</h4>
    <h5 class="my-experience-faculty">Full Stack Development</h5>
    <p class="my-work-experience-period">
        2021 - now <span class="my-work-experience-divider">|</span> Ukraine / on-line
    </p>
    <h4 class="my-experience-university">IT School - GoIT Academy</h4>
    <h5 class="my-experience-faculty">Full Stack Development</h5>
    <p class="my-work-experience-period">
        2021 - 2022 <span class="my-work-experience-divider">|</span> Ukraine / on-line
    </p>
</div>
