<div class="my-projects-section">
  <h3 class="main-content-title">Project Experience</h3>
  <ul class="my-projects-list">
    <h3 class="project-title__name">Full Stack developer</h3>
    <li class="my-projects-item">
      <div class="my-projects-text">
        <a href="https://kapusta-financial-book.netlify.app/" class="my-projects-link">Kapusta</a>
        - Expense Accounting Application. Team project. My main part of work was writing the
        backend. Using the MERN Concept created database, user registration, user loginization, user
        authorization. Google authorization is also performed. For the front-end: bringing the
        appearance of the application and styling according to the Figma layout.-
        <a href="https://github.com/AVKostin/finance-book-server" class="my-projects-link"
          >Project link</a
        >
        <div class="my-projects_technologies">
          <span class="my-projects-bracket"> <br />[</span> HTML5/CSS3, SCSS, React, Redux Toolkit,
          Figma, Parcel, Node.js, Express, MongoDB, Netlify, Heroku, Google API, Git/GitHub
          <span class="my-projects-bracket">]</span>
        </div>
      </div>
    </li>

    <h3 class="project-title__name">Frontend developer</h3>
    <li class="my-projects-item">
      <div class="my-projects-text">
        <a href="https://avkostin.github.io/Filmoteka/" class="my-projects-link">Filmoteka</a>
        - Movie search service. T This is a team project. My part of the work is creating a grid of
        movie cards based on the Figma layout, card animation, Mobile-first adaptive layout.
        Creating a to-top button.-
        <a href="https://github.com/AVKostin/Filmoteka" class="my-projects-link">Project link</a>
        <div class="my-projects_technologies">
          <span class="my-projects-bracket"> <br />[</span> HTML5/CSS3, SCSS, CSS3 Animations,
          JavaScript, Axios, Notflix, Tui-pagination, Figma, Parcel, Webpack, Node.js, Git/GitHub
          <span class="my-projects-bracket">]</span>
        </div>
      </div>
    </li>

    <h3 class="project-title__name">Frontend developer</h3>
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://avkostin.github.io/IceCream_company_site/" class="my-projects-link"
          >Passionate IceCream</a
        >
        - IceCream company site. Team project. My part of the work is the creation of Header and
        Hero according to the Figma layout, the principle of mobile-first, animated css is laid. -
        <a href="https://github.com/AVKostin/IceCream_company_site" class="my-projects-link"
          >Project link</a
        >
        <span class="my-projects-bracket">
          <br />
          [</span
        >
        HTML5/CSS3, SCSS, CSS3 Animations, Figma, Parcel, JavaScript, Git/GitHub
        <span class="my-projects-bracket">]</span>
      </span>
    </li>

    <h3 class="project-title__name">Frontend developer / Personal project</h3>
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://avkostin.github.io/goit-markup-hw-08/" class="my-projects-link"
          >Web Studio</a
        >
        - 2-page portfolio site. First personal project (HTML. CSS) adapted for mobile devices and
        tablets. The site is made exactly to the design requirements according to the Figma layout.
        Maximum download speed. No code errors. -
        <a href="https://github.com/AVKostin/goit-markup-hw-08" class="my-projects-link"
          >Project link</a
        ><span class="my-projects-bracket"> <br />[</span> HTML5/CSS3, SCSS, JavaScript, Figma,
        Parcel, Node.js, Git/GitHub<span class="my-projects-bracket">]</span>
      </span>
    </li>
  </ul>
</div>
