
<div class="my-projects-section">
<h3 class="main-content-title">Projects</h3>
    <ol class="my-projects-list">
        <li class="my-projects-item">
            <span class="my-projects-text">
            <a
                href="https://avkostin.github.io/IceCream_company_site/"
                class="my-projects-link"
                >Passionate IceCream</a
            >
            - IceCream company site. Head and Hero design, first team
            project, mobile & tablet adaptive -
            <a
                href="https://github.com/AVKostin/IceCream_company_site"
                class="my-projects-link"
                >Project link</a
            >
            <span class="my-projects-bracket">
                <br />
                [</span
            >
            HTML5/CSS3, SCSS, CSS3 Animations, Figma, Parcel, JavaScript,
            Git/GitHub
            <span class="my-projects-bracket">]</span>
            </span>
        </li>
        <li class="my-projects-item">
            <span class="my-projects-text">
            <a
                href="https://avkostin.github.io/goit-markup-hw-08/"
                class="my-projects-link"
                >WebStudio site</a
            >
            - 2-page portfolio site. First personal project, mobile & tablet
            adaptive -
            <a
                href="https://github.com/AVKostin/goit-markup-hw-08"
                class="my-projects-link"
                >Project link</a
            ><span class="my-projects-bracket"> <br />[</span> HTML5/CSS3,
            SCSS, JavaScript, Figma, Parcel, Node.js, Git/GitHub<span
                class="my-projects-bracket"
                >]</span
            >
            </span>
        </li>
        <li class="my-projects-item">
            <span class="my-projects-text">
            <a
                href="https://avkostin.github.io/Filmoteka/"
                class="my-projects-link"
                >Filmoteka</a
            >
            - Movie search service. This is the second team project. -
            <a
                href="https://github.com/AVKostin/Filmoteka"
                class="my-projects-link"
                >Project link</a
            ><span class="my-projects-bracket"> <br />[</span> HTML5/CSS3,
            SCSS, CSS3 Animations, JavaScript, Axios, Notflix,
            Tui-pagination, Figma, Parcel, Webpack, Node.js, Git/GitHub
            <span class="my-projects-bracket">]</span>
            </span>
        </li>
    </ol>
</div>