
<div class="my-projects-section">
<h3 class="main-content-title">Project Experience</h3>
    <ul class="my-projects-list">
        <h3>Full stack developer</h3>
        <li class="my-projects-item">
            <span class="my-projects-text">
            <a
                href="https://avkostin.github.io/Filmoteka/"
                class="my-projects-link"
                >Filmoteka</a
            >
            <p>- Movie search service. This is a team project. Mobile-first adaptive web-page of searching movies with authorization, profile page, ability to add movies to the library, and filtering the list of movies in different ways-</p>
            <a
                href="https://github.com/AVKostin/Filmoteka"
                class="my-projects-link"
                >Project link</a
            ><span class="my-projects-bracket"> <br />[</span> HTML5/CSS3,
            SCSS, CSS3 Animations, JavaScript, Axios, Notflix,
            Tui-pagination, Figma, Parcel, Webpack, Node.js, Git/GitHub
            <span class="my-projects-bracket">]</span>
            </span>
        </li>
        <h3>Full stack developer</h3>
        <li class="my-projects-item">
            <span class="my-projects-text">
            <a
                href="https://avkostin.github.io/IceCream_company_site/"
                class="my-projects-link"
                >Passionate IceCream</a
            >
            - IceCream company site. Head and Hero design, team
            project, mobile-first adaptive landing page of the manufacture of ice-cream -
            <a
                href="https://github.com/AVKostin/IceCream_company_site"
                class="my-projects-link"
                >Project link</a
            >
            <span class="my-projects-bracket">
                <br />
                [</span
            >
            HTML5/CSS3, SCSS, CSS3 Animations, Figma, Parcel, JavaScript,
            Git/GitHub
            <span class="my-projects-bracket">]</span>
            </span>
        </li>
        <h3>Personal project</h3>
        <li class="my-projects-item">
            <span class="my-projects-text">
            <a
                href="https://avkostin.github.io/goit-markup-hw-08/"
                class="my-projects-link"
                >Web Studio</a
            >
            - 2-page portfolio site. First personal project, mobile & tablet
            adaptive -
            <a
                href="https://github.com/AVKostin/goit-markup-hw-08"
                class="my-projects-link"
                >Project link</a
            ><span class="my-projects-bracket"> <br />[</span> HTML5/CSS3,
            SCSS, JavaScript, Figma, Parcel, Node.js, Git/GitHub<span
                class="my-projects-bracket"
                >]</span
            >
            </span>
        </li>
    </ul>
</div>