<div class="about-me-section">
  <h1 class="about-me-name">Alexander Kostin</h1>
  <h2 class="about-me-profession">Front-End Developer</h2>

  <p class="about-me-description">
    I am Full Stack developer. Good knowledge and experience in HTML5, CSS3, SCSS, NodeJS, MongoDB,
    Express. Good understanding in JavaScript, React, Redux. Experience in Git and development
    tools, Webpack & Parcels. Knowledge in APIs (REST APIs). Looking for a remote job. Development,
    practice and work for the result are important for me. I intend to develop innovative
    technologies and deliver value to people.
  </p>
</div>
