<div class="about-me-section">
    <h1 class="about-me-name">Alexander Kostin</h1>
    <h2 class="about-me-profession">Full Stack Developer</h2>
    <p class="about-me-description">
        I'm a Full Stack developer. I'm looking for an interesting job as a back-end or Full Stack developer in a friendly, thriving and interesting company to develop my skills and develop as a team, creating new, interesting products.
    </p><br>
   <!-- <p class="about-me-description">
        My technical skills: HTML5, CSS3, SASS/SCSS, JavaScript, PHP, phpMyAdmin, Laravel, Yii framework, OOP, MVC, MySQL, MongoDB, Adobe Photoshop, Figma, React.js, Redux.js, WebPack/Parcels, Node. js, GitHub/GitLab, etc.
     <p class="about-me-description">
        I am Full Stack developer. Good knowledge and experience in HTML5, CSS3,
        SCSS, NodeJS, MongoDB, Express. Good understanding in JavaScript, React,
        Redux. Experience in Git and development tools, Webpack & Parcels.
        Knowledge in APIs (REST APIs). Looking for a remote job. Development,
        practice and work for the result are important for me. I intend to
        develop innovative technologies and deliver value to people.
    </p>-->
</div>
