<div class="my-work-experience-section">
    <h3 class="main-content-title">Work Experince</h3>
    <!-- Company 1 -->

    <div>
        <h4 class="my-work-experience-position">
            <span class="my-work-experience-company">Freelance</span>
        </h4>
        <p class="my-work-experience-period">
            2021 - up to now
            <span class="my-work-experience-divider">|</span> Ukraine/ on-line
        </p>

        <ul class="my-work-experience-duties">
            <!-- <li class="my-work-experience-duty">
                Search for clients and work with the database.
            </li>
            <li class="my-work-experience-duty">
                Purchase of building materials. Сarrying out repairs at
                facilities.
            </li>
            <li class="my-work-experience-duty">Water well drilling.</li>
            <li class="my-work-experience-duty">
                Organizing the purchase, transportation and sale of used cars.
            </li> -->
 <li class="my-work-experience-duty">
    For the last 1.5 years, I have been performing work on the administration of commercial sites, mainly made using vanilla PHP & SQL, as well as PHP frameworks (Yii, Laravel) and PHP CMS (WordPress, Joomla!, OpenCart, uCoz, MODX Revolution). The following work was carried out:<br>

    - website creation in vanilla PHP;<br>
    - working with MySQL databases via phpMyAdmin;<br>
    - fixing code errors;<br>
    - website performance optimization;<br>
    - website SEO optimization;<br>
    - improvement of existing website functionality;<br>
    - mobile / tablet adaptation of websites;<br>
    - placement of the website on web hosting. Setting up a hosting server.
    and other works.
            </li>
        </ul>
    </div>
</div>
