<div class="my-work-experience-section">
    <h3 class="main-content-title">Work Experince</h3>
    <!-- Company 1 -->
    <div>
    <h4 class="my-work-experience-position">
        <span class="my-work-experience-company">Freelance</span>
    </h4>
    <p class="my-work-experience-period">
        2007 - up to now
        <span class="my-work-experience-divider">|</span> Ukraine/ Kharkiv
    </p>
        <ul class="my-work-experience-duties">
            <li class="my-work-experience-duty">
            Search for clients and work with the database.
            </li>

            <li class="my-work-experience-duty">
            Purchase of building materials. Сarrying out repairs at
            facilities.
            </li>

            <li class="my-work-experience-duty">Water well drilling.</li>

            <li class="my-work-experience-duty">
            Organizing the purchase, transportation and sale of used cars.
            </li>
        </ul>
    </div>
</div>